.chat-zone {
    display: grid;
    background-color: #3683af;
    border-radius: 20px;
    justify-self: right;
    color: #eaeaea;
    margin-right: 40px;
    width: 300px;
    height: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chat-background {
    background-color: white;
    border-radius: 20px;
    justify-self: center;
    align-self: flex-end;
    width: 270px;
    height: 580px;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

.chat-title {
    color: white;
    margin: 5px 0px 0px 20px;
    padding: 5px;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.message-submit {
    border-radius: 5px;
    height: 40px;
    width: 260px;
    justify-self: center;
    margin: 2px 20px 20px 20px;
}
